<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Template Post</title>
    <link href="blog.css" rel="stylesheet" type="text/css" />
</head>
<section id="content">
    <div>
        <p class="title">Lorem Ipsum</p>
        <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus pretium ex ut
            ornare.
            Sed varius euismod purus sed venenatis. Nulla auctor, arcu tincidunt luctus ullamcorper, justo libero
            posuere lectus,
            in aliquam sapien arcu sed nibh. Quisque porta fringilla fermentum. Sed scelerisque pretium neque, et
            faucibus diam vehicula vel. Integer condimentum bibendum rutrum. Donec venenatis ex neque, at posuere turpis
            ornare eu. Quisque in massa vitae mauris porta ultricies. Sed sit amet risus at risus molestie sodales
            et quis lacus. Phasellus quis libero dui. Morbi efficitur elit nec augue porttitor finibus. Quisque a
            fringilla nulla
            . Nam vel lacinia augue. Vivamus turpis sapien, molestie at eleifend ut, laoreet non lacus. Duis
            consequat dolor est, sed congue dolor lobortis in.</p>

        <p class="body">Aenean tellus dolor, imperdiet ac interdum vitae, sodales euismod arcu. Fusce quis sem ut lorem
            ultricies euismod.
            Etiam maximus tortor eu dui pellentesque, eget scelerisque nunc vestibulum. Aenean ac varius diam. Praesent
            id euismod nisi. Maecenas fringilla rhoncus ante,
            a lobortis justo aliquam eu. In hac habitasse platea dictumst.
            Maecenas sed turpis quis velit pharetra pellentesque id sed mi. Aenean ac quam quis purus condimentum
            aliquet. Duis tincidunt turpis quis risus
            commodo bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
            egestas. Sed et ultricies ex. Quisque quis mattis eros,
            quis pharetra felis. Pellentesque non diam non nunc pretium fringilla. Nunc luctus quis arcu in posuere. Sed
            quis est mauris.</p>
        <p class="body">Mauris dignissim vel libero sed tempor. Praesent pellentesque leo in enim sagittis sollicitudin.
            Ut ut sem volutpat, pretium lacus ut,
            fermentum nulla. Duis sit amet erat ut ante iaculis lobortis. Vestibulum at tempus odio. Proin vel lacus
            est. Aliquam posuere turpis enim, ac aliquet ipsum commodo non.
            Nulla semper luctus viverra. Aliquam posuere turpis id eros lobortis, vitae pharetra eros semper. Quisque
            placerat purus vitae ex maximus, et convallis elit posuere.
            Aenean interdum est non interdum dictum. Suspendisse quis bibendum ligula.
        </p>
        <p class="body">------------------------------------ </p>
    </div>
</section>

<section id="app">
    <div class="container">
        <div class="row">
            <input type="text" id="nametextbox" class="input" placeholder="Name (3-15 chars)" v-model="newItemName"
                minlength=2 maxlength=30></input>
        </div>

        <div class="row">
            <textarea type="text" rows="4" cols="50" id="commenttextbox" class="input"
                placeholder="Write a comment (10-500 chars)" v-model="newItemComment" maxlength=500
                minlength=10>No Comment.</textarea>
        </div>
        <div class="row">
            <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
        </div>
    </div>

    <div class="row">
        <p v-for="items in item" v-text="items" class="comments"></p>
    </div><!-- End row -->
    <!-- Vue JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'> </script>
    <!--jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script>
        $(document).ready(async function () {
            const response = await fetch("https://personalwebsite.mohammadkhan10.repl.co/comments?post=10", {
                method: "GET",
                headers: { "Content-Type": "application/json" },

            })
                .then(response => response.json())
            console.log(response)
            //const comments = JSON.parse(response);
            function commpost(value) {
                if (value.name.length > 3 && value.name.length < 30 && value.comment.length > 10 && value.comment.length < 500) {
                    console.log("comment: " + value.name + " : " + value.comment)
                    window.test.item.push(value.name + " : ")
                    window.test.item.push(value.comment)

                }
            }
            response.forEach(commpost);
        });
        $(document).ready(function () {
            $(".primaryContained").on('click', function () {
                $(".comment").addClass("commentClicked");
                fetch("https://personalwebsite.mohammadkhan10.repl.co/comment", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        postnumber: "0",
                        name: document.getElementById('nametextbox').value,
                        comment: document.getElementById('commenttextbox').value
                    })
                });

            });//end click
        });//End Function

        new Vue({
            el: "#app",
            data: {
                title: 'Add a comment',
                newItemName: '',
                newItemComment: '',
                item: [],
            },
            mounted: function () {
                window.test = this;
            },
            methods: {
                addItem() {
                    if (this.newItemName.length > 3 && this.newItemName.length < 15 && this.newItemComment.length > 10 && this.newItemComment.length < 500) {
                        this.item.push(this.newItemName + " : ");
                        this.item.push(this.newItemComment);
                    }
                }
                // loadComments() {
                //     this.item.push
                // }
            }
        });</script>
</section>