  ul {
    text-align: left;
  }

  nav ul {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-self: center;
    height: 100%; 
    position:absolute; 
    overflow: hidden;
    width:100%
  }
  nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(0, 0, 0);
    vertical-align: middle
  }
  nav ul li a {
    text-decoration: none;
    color: rgb(7, 31, 61);
    
  }
  img {
    border-radius: 30px;
  }

  @font-face {
    font-family: MSMINCHO;
    src: url(MSMINCHO.TTF);
  }
  
  div {
    font-family: MSMINCHO;
  }